<!-- Featured Sites Section -->
<section class="PF-featured-site-section">
    <div class="PF-featured-site-container">
        <div class="PF-featured-site-wrapper">
            <div class="PF-featured-site-left">
                <!-- Luxarmonie Site Card  -->
                <div class="PF-featured-site-card"><a href="https://luxarmonie.com/en" class="PF-featured-site-link">
                        <div class="PF-featured-site-image-wrapper"><img src="/images/luxarmonie-site.png"
                                alt="Luxarmonie Site Screenshot" class="PF-featured-site-image"></div>
                    </a></div>
                <!-- Satisfied Clients Card -->
                <div class="PF-featured-site-card"><a href="#" class="PF-featured-site-link">


                        <div class="PF-featured-site-feature-main PF-featured-site-feature-first">
                            <div class="PF-featured-site-feature-title">
                                <h4>
                                    We have 100+ satisfied clients
                                </h4>
                            </div>
                            <div class="PF-featured-site-feature-subtitle">
                                <h3>
                                    OK
                                </h3>
                            </div>
                        </div>


                        <!-- <div class="PF-featured-site-image-wrapper"><img src="/images/satisfied-clients.png"
                                alt="100+ Satisfied Clients" class="PF-featured-site-image"></div> -->
                    </a></div>

                <!-- Funding Card  -->
                <div class="PF-featured-site-card"><a href="#" class="PF-featured-site-link">


                        <div class="PF-featured-site-feature-main PF-featured-site-feature-second">
                            <div class="PF-featured-site-feature-title">
                                <h4>
                                    We helped to get companies with $35M+ funding
                                </h4>
                            </div>
                            <div class="PF-featured-site-feature-subtitle">
                                <h3>
                                    0M+
                                </h3>
                            </div>
                        </div>

                        <!-- <div class="PF-featured-site-image-wrapper"><img src="/images/funding-card.png"
                                alt="Companies with $35M+ funding" class="PF-featured-site-image"></div> -->

                    </a></div>
                <!-- Bagira Gear Site Card  -->
                <div class="PF-featured-site-card"><a href="https://bagira-gear.co.il/" class="PF-featured-site-link">
                        <div class="PF-featured-site-image-wrapper"><img src="/images/bagira-gear-site.png"
                                alt="Bagira Gear Site Screenshot" class="PF-featured-site-image"></div>
                    </a></div>
            </div>
            <div class="PF-featured-site-right">
                <!-- Code Buddy Site Card  -->
                <div class="PF-featured-site-card"><a href="#" class="PF-featured-site-link">
                        <div class="PF-featured-site-image-wrapper"><img src="/images/code-buddy-site.png"
                                alt="Code Buddy Site Screenshot" class="PF-featured-site-image"></div>
                    </a></div>
            </div>
        </div>
    </div>
</section>
<style>
    /* Featured Sites Section Styles */
    .PF-featured-site-section {
        padding: 2rem;
        background-color: #fff;
    }

    .PF-featured-site-wrapper {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .PF-featured-site-left {
        width: 100%;
        max-width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .PF-featured-site-card {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        max-width: 49%;
    }

    .PF-featured-site-right {
        width: 100%;
        max-width: 50%;
    }

    .PF-featured-site-right .PF-featured-site-card {
        width: 100%;
        max-width: 100%;
    }

    .PF-featured-site-image-wrapper {
        width: 100%;
        height: 100%;
    }

    .PF-featured-site-image-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .PF-featured-site-feature-main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        border-radius: 10px;
    }

    .PF-featured-site-feature-first {
        background: #E7F6F5;
    }

    .PF-featured-site-feature-title {
        font-size: 24px;
        color: #121212;
    }

    .PF-featured-site-feature-subtitle {
        color: #121212;
        font-size: 16px;
    }

    .PF-featured-site-feature-second {
        background: #121212;
    }

    .PF-featured-site-feature-second .PF-featured-site-feature-title {
        font-size: 24px;
        color: #fff;
    }

    .PF-featured-site-feature-second .PF-featured-site-feature-subtitle {
        color: #fff;
        font-size: 16px;
    }

    a.PF-featured-site-link {
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width: 1100px) {
        .PF-featured-site-card {
            max-width: 48%;
        }
    }

    @media screen and (max-width: 992px) {
        .PF-featured-site-wrapper {
            flex-direction: column;
        }

        .PF-featured-site-right {
            max-width: 100%;
        }

        .PF-featured-site-left {
            max-width: 100%;
        }

        .PF-featured-site-card {
            max-width: 100%;
        }

        .PF-featured-site-feature-main {
            gap: 80px;
        }
    }
</style>