<!-- Portfolio Section -->
<div id="portfolio" class="portfolio">
    <div class="PF-container">
        <h2>Our <span class="highlight">Clients</span></h2>
        <p class="portfolio-subheading">Say goodbye to chaos and hello to seamless workflow management that puts you in
            control of every project, deadline, and milestone. </p>
        <div class="client-logos">
            <div class="client-logos-main"> <img src="/images/logo-ipsum.png" alt="Client 1"></div>
            <div class="client-logos-main"> <img src="/images/logo-ipsum2.png" alt="Client 2"></div>
            <div class="client-logos-main"> <img src="/images/logo-ipsum.png" alt="Client 1"></div>
            <div class="client-logos-main"> <img src="/images/logo-ipsum3.png" alt="Client 3"></div>
            <div class="client-logos-main"> <img src="/images/logo-ipsum4.png" alt="Client 4"></div>
        </div>
    </div>
</div>

<style>
    .portfolio {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .portfolio h2 {
        font-size: 40px;
        font-weight: 700;
        line-height: 82px;
        color: #000;
        text-align: center;
    }

    p.portfolio-subheading {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #6F7C74;
        padding-top: 25px;
        max-width: 766px;
        margin: 0 auto;
        padding-bottom: 60px;
    }

    .client-logos {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .client-logos-main {
        height: 40px;
        width: max-content;
    }

    .client-logos-main img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }



    @media screen and (max-width: 600px) {
        .client-logos {
            gap: 20px;
        }
    }
</style>