<!-- Pricing Section -->
<section id="price" class="pricing">
    <div class="PF-container">
        <h2>Easily <span class="highlight">Organize</span> Your Work</h2>
        <p class="price-subheading">Say goodbye to chaos and hello to seamless workflow management that puts you in
            control of every project, deadline, and milestone. </p>
        <div class="pricing-cards">
            <div class="price-card  pricing-card-black-bg">
                <h3>Design Plan</h3>
                <p class="price">Starting Price: $100</p>
                <p class="price-subcontent">Quick fixes for your existing design</p>

                <div class="price-card-features">
                    <ul>
                        <li>Free Design & Paperwork</li>
                        <li>Business Support</li>
                        <li>Source Files Included</li>
                        <li>World Business Support</li>
                    </ul>
                </div>
                <button class="cta-button">Get Started Now
                    <div class="pricing-btn-icon">
                        <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15.4156 0.9375V9.40639H14.4778V2.53083L4.76005 12.2508L4.10449 11.5619L13.7912 1.87528H6.9156V0.9375H15.4156Z"
                                fill="#F9F9F9" />
                        </svg>

                    </div>
                </button>
            </div>
            <div class="price-card pricing-card-white-bg">
                <h3>Development Plan</h3>
                <p class="price">Starting Price: $200</p>
                <p class="price-subcontent">Quick fixes for your existing design</p>
                <div class="price-card-features">
                    <ul>
                        <li>Theme Beautiful & customization</li>
                        <li>Responsive Design</li>
                        <li>Third-party integrations</li>
                        <li>Testing & Quality Insurance</li>
                    </ul>
                </div>
                <button class="cta-button">Get Started Now
                    <div class="pricing-btn-icon">
                        <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15.4156 0.9375V9.40639H14.4778V2.53083L4.76005 12.2508L4.10449 11.5619L13.7912 1.87528H6.9156V0.9375H15.4156Z"
                                fill="#F9F9F9" />
                        </svg>

                    </div>
                </button>
            </div>
        </div>
    </div>
</section>

<style>
    .pricing {
        padding-top: 40px;
        padding-bottom: 40px;
        background: #f9f9f9;
    }

    section.pricing h2 {
        font-size: 40px;
        font-weight: 700;
        line-height: 1.4;
        color: #000;
        text-align: center;
    }

    .highlight {
        color: #F94B34;
    }

    .price-card.pricing-card-black-bg h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #F94B34;
    }

    p.price-subheading {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #6F7C74;
        padding-top: 35px;
        max-width: 766px;
        margin: 0 auto;
    }

    p.price {
        font-size: 40px;
        font-weight: 700;
        line-height: 55px;
        color: #F9F9F9;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .pricing-cards {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
        gap: 60px;
        max-width: 1120px;
        margin: 0 auto;
    }


    .price-card.pricing-card-black-bg {
        width: 50%;
        background: #1a1a1a;
        padding: 45px 70px;
        border-radius: 10px;
        /* box-shadow: 0 5px 15px rgba(0,0,0,0.1); */
    }

    .price-card-features ul li {
        font-size: 18px;
        line-height: 30px;
        font-weight: 700;
        padding-bottom: 12px;
        color: #fff;
    }

    .price-card-features ul {
        padding-left: 20px;
    }

    ::marker {
        color: #F94B34;
        width: 8px;
        height: 8px;
    }

    .price-card.pricing-card-white-bg {
        width: 50%;
        border: 1px solid #cacaca;
        background: #f9f9f9;
        padding: 45px 70px;
        border-radius: 10px;
        /* box-shadow: 0 5px 15px rgba(0,0,0,0.1); */
    }

    .price-card.pricing-card-white-bg h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #F94B34;
    }

    .pricing .pricing-card-white-bg .cta-button {
        background: #121212;
    }

    .pricing-card-white-bg p.price {
        color: #121212;
    }

    .pricing-card-white-bg ul li {
        font-size: 18px;
        line-height: 30px;
        font-weight: 700;
        padding-bottom: 12px;
        color: #121212;
    }

    p.price-subcontent {
        font-size: 18px;
        line-height: 30px;
        font-weight: 700;
        color: #F94B34;
        padding-bottom: 10px;
        border-bottom: 1px solid #6F7C744A;
        margin-bottom: 50px;
        text-transform: capitalize;
    }

    .pricing .cta-button {
        padding: 8px 12px;
        background: #F94B34;
        color: #f9f9f9;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 700;
        line-height: 24px;
        font-size: 16px;
        transition: background 0.3s;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 25px;
        justify-content: center;
    }

    .pricing-btn-icon {
        width: 16px;
        height: 16px;
    }

    ::marker {
        color: #F94B34;
    }

    /* Team Section */
    .team {
        padding: 32px 60px 0px 60px;
        background: #f8f9fa;
    }

    .team-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;
        margin-top: 100px;
    }

    .team-member {
        text-align: center;
    }

    .team-member img {
        width: 300px;
        height: 300px;
        border-radius: 20px;
        object-fit: cover;
        margin-bottom: 1rem;
    }

    .team-heading-main h2 {
        font-size: 40px;
        font-weight: 700;
        line-height: 82px;
        color: #000;
    }

    .team-heading-main h2 span {
        color: #ff4d4d;
    }

    p.team-para {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #6F7C74;
        max-width: 800px;
        margin: 0 auto;
    }

    @media (max-width: 768px) {
        .pricing {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .pricing-cards {
            gap: 20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 40px;
            flex-direction: column;
        }

        .price-card.pricing-card-black-bg {
            width: 100%;
            padding: 20px 22px;
        }

        .price-card.pricing-card-white-bg {
            width: 100%;
            padding: 20px 22px;
        }

        section.pricing h2 {
            font-size: 24px;
        }

        p.price-subheading {
            padding-top: 15px;
            max-width: 669px;
        }

        .price-card.pricing-card-black-bg h3 {
            font-size: 14px;
            line-height: 21px;
        }

        p.price {
            font-size: 24px;
            line-height: 36px;
            padding-top: 6px;
            padding-bottom: 4px;
        }

        p.price-subcontent {
            font-size: 16px;
            padding-bottom: 12px;
            margin-bottom: 10px;
            text-transform: capitalize;
        }

        .pricing-card-white-bg ul li {
            font-size: 14px;
            line-height: 30px;
            font-weight: 700;
            padding-bottom: 8px;
        }

        .price-card-features ul li {
            font-size: 14px;
            line-height: 30px;
            font-weight: 700;
            padding-bottom: 8px;
        }

        .price-card-features {
            padding-bottom: 20px;
        }

        .pricing .cta-button {
            padding: 12px 12px;
        }
    }

    @media (max-width: 480px) {
        .pricing-cards {
            gap: 20px;
        }

        p.price-subheading {
            max-width: 385px;
        }
    }
</style>