
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

        .PF-team-section {
            padding-top: 60px;
            padding-bottom: 60px;
            background: #f8f8f8;
            text-align: center;
        }

        .PF-team-wrapper {
            max-width: 880px;
            margin: 0 auto;
            padding: 40px;
            border: 1px solid #000;
            border-radius: 32px;
        }

        .PF-team-images-sub {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .PF-team-images {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2px; 
            padding: 20px 0;
            margin-bottom: 2rem;
            position: relative;
        }

        .PF-team-image-container {
            position: relative;
            transition: all 0.6s; 
            z-index: 1;
        }

        .PF-team-image-container:not(:first-child) {
            margin-left: -20px;
        }

        .PF-team-image-container:hover {
            transform: translateY(12px);
            z-index: 9;
        }

        .PF-team-image {
            width: 70px;
            height: 70px;
            object-fit: cover;
            cursor: pointer;
            filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
        }

        .name {
    position: absolute;
    background-color: #ff4d4d;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    padding: 12px 24px;
    border-radius: 100px;
    bottom: -70px; 
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50px);
    letter-spacing: 1px;
    font-size: 14px;
    line-height: normal;
    opacity: 0;
    transition: all 0.3s;
}

        .name::before {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            background-color: #ff4d4d;
            top: 0; 
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        .PF-team-image-container:hover .name {
            opacity: 1;
            transform: translateX(-50%);
            box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
        }

        .PF-team-title {
            font-size: 40px;
            line-height: 1.2;
            font-weight: 600;
            color: #121212;
            padding-bottom: 1rem;
        }

        .PF-team-description {
            font-size: 18px;
            color: #6F7C74;
            margin: 0; 
            line-height: 1.5;
        }

        .PF-team-button {
            display: inline-block;
            padding: 12px 20px;
            background-color: #121212;
            font-size: 16px;
            color: #fff;
            text-decoration: none;
            border-radius: 100px;
            font-weight: 500;
        } 

        .PF-team-button:hover {
            background-color: #333;
        }

        @media (max-width: 768px) {
            .PF-container {
                    padding: 0 20px;
                }
            .PF-team-wrapper {
            padding: 24px;
        } 
            .PF-team-section {
                padding-top: 40px; 
                padding-bottom: 40px;
            }

            .PF-team-title {
                font-size: 2rem;
            } 

            .PF-team-description {
                font-size: 1rem;
                padding: 0 1rem;
            }

            .PF-team-image { 
                width: 50px;
                height: 50px;
            }
            .PF-team-images {
                gap: 5px;
            }
        }
    </style>

    <section class="PF-team-section">
        <div class="PF-container"> 
        <div class="PF-team-wrapper"> 
            <div class="PF-team-images-sub">
                <h2 class="PF-team-title">Work <span class="highlight">Together</span></h2>
                <p class="PF-team-description">Unite your team's potential with seamless collaboration tools that transform ideas into achievements, creating a workspace where creativity flows and productivity soars.</p>
                <div class="PF-team-images">
                    <div class="PF-team-image-container">
                        <img src="/images/m.hassan.svg" alt="team-hassan" class="PF-team-image">
                        <span class="name">M Hassan<br> CEO - Founder </span>
                    </div> 

                    <div class="PF-team-image-container">
                        <img src="/images/mujeeb.svg" alt="team-mujeeb" class="PF-team-image">
                        <span class="name">Mujeeb Ur Rehman<br> Snr. Shopify Developer</span>
                    </div>
 
                    <div class="PF-team-image-container">
                        <img src="/images/sam.svg" alt="Team-sam" class="PF-team-image">
                        <span class="name">M Sammi Abid <br> Web Developer</span>
                    </div>

                    <div class="PF-team-image-container">
                        <img src="/images/abdullah.png" alt="team-abey" class="PF-team-image">
                        <span class="name">Abdullah Khalid <br> Web Developer </span>
                    </div>

                    <div class="PF-team-image-container">
                        <img src="/images/shahbaz.svg" alt="team-shahbaz" class="PF-team-image">
                        <span class="name">Shahbaz<br> Jnr. Web Developer</span>
                    </div>

                    <div class="PF-team-image-container">
                        <img src="/images/sakhawat.svg" alt="team-sakhawar" class="PF-team-image">
                        <span class="name">Sakhawat Ali<br> Project Manager</span>
                    </div>

                    <div class="PF-team-image-container">
                        <img src="/images/allahnawaz.png" alt="team-allahnawaz" class="PF-team-image">
                        <span class="name">Allah Nawaz<br> UI/UX Designer</span>
                    </div> 
 
                    <div class="PF-team-image-container">
                        <img src="/images/aqib.png" alt="team-aqib" class="PF-team-image">
                        <span class="name">Aqib Rashid<br> Jnr. Web Developer</span>
                    </div>

                    <div class="PF-team-image-container">
                        <img src="/images/shahzaib.png" alt="team-shahzaib" class="PF-team-image">
                        <span class="name">Shahzaib<br> Internee</span>
                    </div>
                </div>
                
                <a href="#" class="PF-team-button">View Open Positions</a>
            </div>
        </div>
    </div>
    </section>
